# -------------------------
# FRONTEND
# -------------------------

# Node modules & build output
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.turbo/

# Env files
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

# Vercel
frontend/.vercel/

# Typescript / Next.js
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# misc
frontend/.prettierrc

# -------------------------
# BACKEND
# -------------------------

backend/node_modules/
backend/dist/
backend/build/
backend/.prettierrc

# Env files
backend/.env
backend/.env.*

# -------------------------
# SHARED / ROOT
# -------------------------

# Yarn / npm / pnpm
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn/
.pnp.*
.pnp

# System files
.DS_Store
.vscode/
*.pem

# Coverage reports
coverage/
*.tsbuildinfo

# Misc
*.txt
*.pdf
*.md
!README.md