.nike_logo {
  background-image: url("/Vector2.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.explore_section {
  background: var(--gradient-bg);
}
