.why_choose_us{
  background: var(--gradient-bg-inv);
  padding: 10rem 0;
}

.whyChooseUs_message {
  z-index: 0;
  position: relative;
}

.whyChooseUs_message::before {
  content: "<<°";
  position: absolute;
  font-size: 15rem;
  top: -15rem;
  left: -5rem;
  color: rgb(56, 55, 88);
  font-family: serif;
  z-index: -1;
}


@media (max-width: 768px) {
  .why_choose_us{
  padding: 5rem 0;
}

.whyChooseUs_message::before {
  font-size: 10rem;
  top: 0;
  left: 0rem;
}

}