.title{
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7c8e;
  
}

.explore_section {
  background: var(--gradient-bg);
  position: relative;
  z-index: 0;
}

.nike_logo {
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.lens {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: aliceblue;
  align-self: center;
  justify-self: center;
  border: 4px solid white;
}

.productImage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 410%;
  background-position: 60% 70%;
  filter: drop-shadow(20px 20px 10px rgba(0, 0, 0, 0.7));
}

.productImage2 {
  background-position: 80% 95%;
}
